/* Fonts */

@font-face {
  font-family: avenirRegular;
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf"),
    url("/assets/fonts/alternativeFiles/AvenirNextLTPro.ttf");
  font-weight: 400;
}

@font-face {
  font-family: avenirDemi;
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf"),
    url("/assets/fonts/alternativeFiles/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}

@font-face {
  font-family: avenirBold;
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf"),
    url("/assets/fonts/alternativeFiles/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
