@use "./colors" as *;
@use "./mixins" as *;
@use "./fonts" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Avenir Next LT Pro";
}

/* Header */
.header {
	background-color: $main-brand;
	width: 100%;

	@include tablet {
		display: flex;
		padding: 0 5%;
	}

	@include desktop {
		padding: 0 10%;
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__logo {
		padding-top: 1.3rem;

		@include tablet {
			padding-top: 0;
		}
	}
}

.nav {
	display: flex;

	@include tablet {
		margin-left: 4rem;
	}

	&__link {
		color: $silver;
		padding: 3% 16%;
		text-decoration: none;

		@include tablet {
			margin-right: 3rem;
			padding: 11% 0; //look
		}

		&--active {
			color: $white;
			border-bottom: 3px solid $white;
		}

		&:hover {
			cursor: pointer;

			color: $palevioletred;
			border-bottom: 3px solid $palevioletred;
		}
	}
}

/* Footer */
.footer {
	background-color: $main-brand;
	color: $white;
	padding: 2% 5%;
	position: relative;

	@include desktop {
		padding: 0 10%;
	}

	&__header {
		@include tablet {
			display: flex;
			align-items: center;
		}
	}

	&__title {
		@include text-style(1.5rem, 2rem, 600);

		@include tablet {
			@include text-style(2.3rem, 2.8rem, 600);
		}
	}

	&__icons-box {
		display: flex;
		justify-content: space-between;
		width: 40%;

		@include tablet {
			margin-left: 2rem;
			width: 15%;
		}

		@include desktop {
			margin-left: 3rem;
			width: 12%;
		}
	}

	&__icon {
		width: 24px;
		height: 24px;

		@include tablet {
			margin-bottom: 0;
		}
	}

	&__info {
		margin-top: 1.5rem;
		@include tablet {
			display: flex;
			justify-content: space-between;
		}

		@include desktop {
			width: 70%;
		}
	}

	&__info-container {
		margin-bottom: 1.3rem;
	}

	&__text {
		margin: 0;
		@include text-style(0.8rem, 1.1rem, 400);

		@include tablet {
			@include text-style(0.9rem, 1.2rem, 400);
		}

		&--bold {
			font-weight: 700;
		}
	}

	&__logo {
		margin-top: 3rem;

		@include tablet {
			position: absolute;
			top: 0.6rem;
			right: 3.9rem;
		}
	}

	&__text--copy-right {
		padding: 1rem 0;
	}
}
