/* Fonts */
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("/assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("/assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("/assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("/assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("/assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("/assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next LT Pro";
}

/* Header */
.header {
  background-color: #323232;
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    padding: 0 5%;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0 10%;
  }
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  padding-top: 1.3rem;
}
@media (min-width: 768px) {
  .header__logo {
    padding-top: 0;
  }
}

.nav {
  display: flex;
}
@media (min-width: 768px) {
  .nav {
    margin-left: 4rem;
  }
}
.nav__link {
  color: #afafaf;
  padding: 3% 16%;
  text-decoration: none;
}
@media (min-width: 768px) {
  .nav__link {
    margin-right: 3rem;
    padding: 11% 0;
  }
}
.nav__link--active {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}
.nav__link:hover {
  cursor: pointer;
  color: #db7093;
  border-bottom: 3px solid #db7093;
}

/* Footer */
.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 2% 5%;
  position: relative;
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 10%;
  }
}
@media (min-width: 768px) {
  .footer__header {
    display: flex;
    align-items: center;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.3rem;
    line-height: 2.8rem;
    font-weight: 600;
  }
}
.footer__icons-box {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
@media (min-width: 768px) {
  .footer__icons-box {
    margin-left: 2rem;
    width: 15%;
  }
}
@media (min-width: 1280px) {
  .footer__icons-box {
    margin-left: 3rem;
    width: 12%;
  }
}
.footer__icon {
  width: 24px;
  height: 24px;
}
@media (min-width: 768px) {
  .footer__icon {
    margin-bottom: 0;
  }
}
.footer__info {
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .footer__info {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__info {
    width: 70%;
  }
}
.footer__info-container {
  margin-bottom: 1.3rem;
}
.footer__text {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__text {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 400;
  }
}
.footer__text--bold {
  font-weight: 700;
}
.footer__logo {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 0.6rem;
    right: 3.9rem;
  }
}
.footer__text--copy-right {
  padding: 1rem 0;
}

/* Hero */
.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .hero {
    height: 90vh;
    background-position: bottom;
  }
}
@media (min-width: 1280px) {
  .hero {
    background-position: top;
    height: 100vh;
  }
}
.hero__title {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 5%;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.8rem;
    line-height: 4.3rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    padding-left: 10%;
  }
}

/* About Section */
.about {
  padding: 0 5%;
}
@media (min-width: 1280px) {
  .about {
    padding: 0 10%;
  }
}
.about__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__title {
    margin-top: 3rem;
    font-size: 2.3rem;
    line-height: 2.8rem;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .about__container {
    padding: 0 9%;
  }
}
.about__img {
  width: 100%;
  height: 10rem;
}
@media (min-width: 768px) {
  .about__img {
    height: 60vh;
  }
}
@media (min-width: 1280px) {
  .about__img {
    height: 90vh;
  }
}
.about__slogan {
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__slogan {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-top: 2rem;
    letter-spacing: -0.9px;
  }
}
@media (min-width: 1280px) {
  .about__slogan {
    width: 85%;
    letter-spacing: normal;
  }
}
.about__author {
  margin-top: 0.7rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__author {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .about__author {
    font-size: 1rem;
    margin-top: 1rem;
  }
}
.about__subtitle {
  margin-top: 1.6rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .about__subtitle {
    margin-bottom: 0.4rem;
    margin-top: 3.2rem;
  }
}
@media (min-width: 768px) {
  .about__info-container {
    display: flex;
    justify-content: space-between;
  }
}
.about__text {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.3px;
}
@media (min-width: 768px) {
  .about__text {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 400;
    letter-spacing: -0.3px;
  }
}
@media (min-width: 1280px) {
  .about__text {
    width: 49%;
  }
}

/* Photo Gallery Section */
.gallery {
  background-color: #fafafa;
  padding: 0 5%;
}
@media (min-width: 768px) {
  .gallery {
    padding-bottom: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 0 10%;
  }
}
.gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-top: 1.4rem;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.3rem;
    line-height: 2.8rem;
    font-weight: 600;
    padding-top: 3rem;
  }
}
@media (min-width: 768px) {
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .gallery__container {
    justify-content: space-between;
  }
}
.gallery__img {
  width: 100%;
  padding-bottom: 1rem;
}
.gallery__img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 1s ease;
}
@media (min-width: 768px) {
  .gallery__img {
    width: 13.5rem;
    padding-bottom: 1.3rem;
  }
}
@media (min-width: 1280px) {
  .gallery__img {
    width: 20rem;
    padding-bottom: 1.5rem;
  }
}

/* Comment Form */
.form {
  display: flex;
  flex-direction: column;
  width: 82%;
  margin-left: 1rem;
}
.form__section {
  padding: 0 5%;
  padding-bottom: 1rem;
}
@media (min-width: 1280px) {
  .form__section {
    padding: 0 10%;
  }
}
.form__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 2.3rem;
    line-height: 2.8rem;
    font-weight: 600;
    padding-top: 3rem;
  }
}
.form__container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e1e1e1;
}
@media (min-width: 768px) {
  .form__container {
    margin: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .form__container {
    margin-left: 25%;
    width: 53%;
  }
}
.form__avatar {
  height: 2.3rem;
  width: 2.3rem;
  background-image: url("../assets/images/Mohan-muruge.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1.6rem;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .form__avatar {
    height: 3rem;
    width: 3rem;
  }
}
.form__label {
  color: #afafaf;
  font-size: 0.6rem;
  line-height: 1.3rem;
  font-weight: 600;
  padding: 0.3rem;
}
.form__input {
  height: 2.3rem;
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.8rem;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .form__input {
    height: 3rem;
    padding: 1rem;
  }
}
.form__comment {
  height: 8rem;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .form__btn-container {
    display: flex;
    align-self: flex-end;
    width: 32%;
  }
}
.form__btn {
  width: 100%;
  background-color: #323232;
  color: #ffffff;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 600;
}

/* Comments Section */
.comments__section {
  padding: 0 5%;
  padding-bottom: 1rem;
}
@media (min-width: 1280px) {
  .comments__section {
    padding: 0 10%;
  }
}
.comments__container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .comments__container {
    margin: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .comments__container {
    margin-left: 25%;
    width: 56%;
    padding-bottom: 2.5rem;
  }
}
.comments__container-info {
  width: 85%;
  margin-left: 1rem;
}
.comments__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comments__name {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .comments__name {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 400;
  }
}
.comments__name--bold {
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .comments__name--bold {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 700;
  }
}
.comments__date {
  color: #afafaf;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .comments__date {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 400;
  }
}
.comments__avatar {
  background-color: #e1e1e1;
  height: 2.3rem;
  width: 2.3rem;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .comments__avatar {
    height: 3rem;
    width: 3rem;
  }
}
.comments__content {
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .comments__content {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 400;
  }
}
.comments__btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comments__delete-btn {
  color: #000000;
  padding: 0.3rem;
  background-color: #e1e1e1;
  border-radius: 0.3rem;
  border: none;
  font-size: 0.6rem;
}
.comments__like-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.comments__like-btn {
  background: url("../assets/icons/heart1.jpg") no-repeat;
  background-size: cover, contain;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: none;
  margin: 1rem 0;
}
.comments__counter {
  padding: 0 1rem;
}/*# sourceMappingURL=bio.css.map */