/* Fonts */
@font-face {
  font-family: avenirRegular;
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf"), url("/assets/fonts/alternativeFiles/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: avenirDemi;
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf"), url("/assets/fonts/alternativeFiles/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
@font-face {
  font-family: avenirBold;
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf"), url("/assets/fonts/alternativeFiles/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Header */
.header {
  background-color: #323232;
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    padding: 0 5%;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0 10%;
  }
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  padding-top: 1.3rem;
}
@media (min-width: 768px) {
  .header__logo {
    padding-top: 0;
  }
}

.nav {
  display: flex;
}
@media (min-width: 768px) {
  .nav {
    margin-left: 4rem;
  }
}
.nav__link {
  color: #afafaf;
  padding: 3% 16%;
  text-decoration: none;
}
@media (min-width: 768px) {
  .nav__link {
    margin-right: 3rem;
    padding: 11% 0;
  }
}
.nav__link--active {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}
.nav__link:hover {
  cursor: pointer;
  color: #db7093;
  border-bottom: 3px solid #db7093;
}

/* Footer */
.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 2% 5%;
  position: relative;
}
@media (min-width: 1280px) {
  .footer {
    padding: 0 10%;
  }
}
@media (min-width: 768px) {
  .footer__header {
    display: flex;
    align-items: center;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: avenirDemi;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.3rem;
    line-height: 2.8rem;
    font-family: avenirDemi;
  }
}
.footer__icons-box {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
@media (min-width: 768px) {
  .footer__icons-box {
    margin-left: 2rem;
    width: 15%;
  }
}
@media (min-width: 1280px) {
  .footer__icons-box {
    margin-left: 3rem;
    width: 12%;
  }
}
.footer__icon {
  width: 24px;
  height: 24px;
}
@media (min-width: 768px) {
  .footer__icon {
    margin-bottom: 0;
  }
}
.footer__info {
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .footer__info {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__info {
    width: 70%;
  }
}
.footer__info-container {
  margin-bottom: 1.3rem;
}
.footer__text {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-family: avenirRegular;
}
@media (min-width: 768px) {
  .footer__text {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-family: avenirRegular;
  }
}
.footer__text--bold {
  font-weight: 700;
}
.footer__logo {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 0.6rem;
    right: 3.9rem;
  }
}
.footer__text--copy-right {
  padding: 1rem 0;
}

/* Button */
.btn {
  width: 100%;
  background-color: #323232;
  color: #ffffff;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: avenirDemi;
}

.avatar {
  height: 2.3rem;
  width: 2.3rem;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .avatar {
    height: 3rem;
    width: 3rem;
  }
}

.subheader {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-family: avenirRegular;
}
@media (min-width: 768px) {
  .subheader {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-family: avenirRegular;
  }
}
.subheader--bold {
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-family: avenirBold;
}
@media (min-width: 768px) {
  .subheader--bold {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-family: avenirBold;
  }
}

.label {
  color: #afafaf;
  font-size: 0.6rem;
  line-height: 1.3rem;
  font-family: avenirDemi;
  padding: 0.3rem;
  margin-bottom: 0;
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-shows.jpg");
  background-size: cover;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 5%;
}
@media (min-width: 768px) {
  .hero {
    height: 100vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    flex-direction: row;
    padding: 0 10rem;
  }
}
.hero__text {
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero__text {
    font-size: 1.3rem;
    line-height: 2rem;
    font-family: avenirDemi;
    margin-top: 3rem;
  }
}
.hero__title {
  color: #ffffff;
  width: 65%;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.8rem;
    line-height: 4.25rem;
    font-family: avenirDemi;
    width: 81%;
    margin: 1rem 0 3rem 0;
  }
}
@media (min-width: 768px) {
  .hero__music-container {
    align-self: flex-start;
  }
}
@media (min-width: 1280px) {
  .hero__music-container {
    align-self: center;
    padding-top: 5rem;
  }
}
@media (min-width: 768px) {
  .hero__music {
    width: 24rem;
    height: 8rem;
  }
}

.show__section {
  padding: 0 5%;
  margin-bottom: 1rem;
}
@media (min-width: 1280px) {
  .show__section {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 2rem;
  }
}
.show__header-container {
  width: 10%;
}
.show__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: avenirDemi;
}
@media (min-width: 768px) {
  .show__header {
    font-size: 2.3rem;
    line-height: 2.8rem;
    font-family: avenirDemi;
  }
}
@media (min-width: 1280px) {
  .show__list {
    width: 65%;
  }
}
.show__box {
  border-bottom: 1px solid #e1e1e1;
}
.show__box:hover {
  cursor: pointer;
  background-color: #fafafa;
}
.show__box:target {
  cursor: pointer;
  background-color: #e1e1e1;
}
@media (min-width: 768px) {
  .show__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.show__label {
  color: #afafaf;
  font-size: 0.6rem;
  line-height: 1.3rem;
  font-family: avenirDemi;
  padding: 0.3rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .show__label {
    display: none;
  }
}
.show__label--container {
  display: none;
}
@media (min-width: 768px) {
  .show__label--container {
    display: flex;
  }
}
.show__label--special {
  color: #afafaf;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-family: avenirDemi;
  padding: 0.3rem;
  margin-bottom: 0;
  margin-right: 9.3rem;
}
@media (min-width: 768px) {
  .show__btn {
    width: 22%;
  }
}
.show__event-selected {
  background-color: #e1e1e1;
}/*# sourceMappingURL=shows.css.map */