@use "./partials/global" as *;
@use "./partials/colors" as *;

.hero {
	background-image: linear-gradient(
			rgba(50, 50, 50, 0.5),
			rgba(50, 50, 50, 0.5)
		),
		url("../assets/images/hero-shows.jpg");
	background-size: cover;
	height: 50vh;
	display: flex;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 0 5%;

	&__text {
		color: $white;
	}

	&__title {
		color: $white;
		width: 65%;
	}

	&__text {
		color: $white;
	}

	// &__music-container {
	// 	width: 80%;
	// }
}

.show {
	&__section {
		padding: 0 5%;
		margin-bottom: 1rem;
	}

	&__container {
		border-bottom: 1px solid $mercury;
	}
}
