@use "./partials/global" as *;
@use "./partials/colors" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

/* Hero */
.hero {
	background-image: linear-gradient(
			rgba(50, 50, 50, 0.5),
			rgba(50, 50, 50, 0.5)
		),
		url("../assets/images/hero-shows.jpg");
	background-size: cover;
	background-position: center;
	height: 55vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 5%;

	@include tablet {
		height: 100vh;
	}

	@include desktop {
		flex-direction: row;
		padding: 0 10rem;
	}

	&__text {
		color: $white;
		padding-top: 1rem;
		@include tablet {
			@include text-style(1.3rem, 2rem, 600);
			margin-top: 3rem;
		}
	}

	&__title {
		color: $white;
		width: 75%;
		@include tablet {
			@include text-style(3.8rem, 4.25rem, 600);
			width: 81%;
			margin: 1rem 0 3rem 0;
		}
	}

	&__music-container {
		@include tablet {
			align-self: flex-start;
		}

		@include desktop {
			align-self: center;
			padding-top: 5rem;
		}
	}

	&__music {
		@include tablet {
			width: 24rem;
			height: 8rem;
		}
	}
}

/* Show Section */
.show {
	&__section {
		padding: 0 5%;
		margin-bottom: 1rem;

		@include desktop {
			display: flex;
			justify-content: space-around;
			align-items: baseline;
			padding-top: 2rem;
		}
	}

	&__header-container {
		width: 10%;
	}

	&__header {
		@include text-style(1.5rem, 2rem, 600);

		@include tablet {
			@include text-style(2.3rem, 2.8rem, 600);
			padding-top: 1.3rem;
		}
	}

	&__list {
		@include desktop {
			width: 65%;
		}
	}

	&__box {
		border-bottom: 1px solid $mercury;

		&:hover {
			cursor: pointer;
			background-color: $alabaster;
		}

		@include tablet {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__label {
		color: $silver;
		@include text-style(0.6rem, 1.3rem, 600);
		margin-bottom: 0;

		@include tablet {
			display: none;
		}

		&--container {
			display: none;

			@include tablet {
				display: flex;
			}
		}

		&--special {
			color: $silver;
			@include text-style(0.8rem, 1.3rem, 600);
			padding: 0.3rem;
			margin-bottom: 0;
			margin-right: 9.3rem;
		}
	}

	&__text {
		margin: 0;
		@include text-style(0.8rem, 1.3rem, 400);

		@include tablet {
			@include text-style(0.9rem, 1.4rem, 400);
		}

		&--bold {
			@include text-style(0.8rem, 1.3rem, 700);

			@include tablet {
				@include text-style(0.9rem, 1.4rem, 700);
			}
		}
	}

	&__btn {
		@include tablet {
			width: 22%;
		}
	}

	&__event-selected {
		cursor: pointer;
		background-color: $mercury;
	}
}
